streamlit==1.51.0
opencv-python-headless==4.6.0.66
mediapipe==0.10.5
numpy
pandas
Pillow
sentence-transformers
scikit-learn
matplotlib
pymongo
bcrypt
requests
streamlit-lottie
pyttsx3
google-generativeai
