streamlit
opencv-python-headless==4.10.0.84
mediapipe
numpy
pandas
Pillow
sentence-transformers
scikit-learn
matplotlib
requests
streamlit-lottie
pymongo
bcrypt
pyttsx3
google-generativeai
protobuf==3.20.*

