streamlit
opencv-python-headless
mediapipe
numpy
pandas
Pillow
sentence-transformers
scikit-learn
matplotlib
requests
streamlit-lottie
pymongo
bcrypt
pyttsx3
google-generativeai
protobuf==3.20.*
